#menu-switch{
    display: none;
}



header{
    width: 100%;
    height: 40px;
    top: 0;    
    position: fixed;
    /* filter:drop-shadow(0px 5px 7px rgba(0,0,0,.3)); */
    backdrop-filter: blur(10px);
    z-index: 1000;
    
}
header .container{

    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}


#heard{
    scroll-behavior: smooth;
}

.header{
    filter: drop-shadow(0px 4px 15px rgba(0,0,0,.17));
}


/* -backglass的背景毛玻璃色塊 */
.header-backglass{
    width: 100%;
    height: 40px;
    top: 0;
    background-color:rgba(255,255,255, .75);
    position: fixed;
    overflow: hidden;
}

.header-backglass::after{
    content:"";
    width: 100%;
    height: 120px;
    top:calc(-50%) ;
    left:calc(0%) ;
    color: #000;
    background:
    linear-gradient(90deg, #FFFFFF 15%, #FFFFFF00 60%);
    background-size:left;
    transform:skewY(-8deg)    translateX(0%)translateY(0%);
    transform-origin: left;
    position: absolute  ;
    /* z-index: -1; */
}




/* LOGO */
h1 a{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    vertical-align: top;
    /* z-index: 50; */
}
/* 選單超連結 */                                                



.main-nav .menu{
    display: flex;
    justify-content: center;
}

.main-nav .menu a{
    display: block;
    padding: 11px;
    color: rgba(102, 100, 100, 1);
    font-size: 16px;
    font-weight: 600;
    text-decoration:none;
    z-index: 50;
}

.main-nav .menu > li{
    position: relative;
}

.main-nav .sub-menu{
    width: 100%;
    display: none;
    position: absolute;
    background:#ffffff;
    top: 100%;
    z-index: 1000;
}

.main-nav .menu li:hover > a{
    background-color: #FAC766;
}

.main-nav li:hover > .sub-menu{
    display: block;
}

.main-nav li:hover > .sub-menu a:hover{
    background-color: #ffe1aa;
}

.menu-icon img{
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    /* z-index: 50; */
}


@media screen and (max-width:1023.98px){
    .hb{
        width: 40px;
        height: 40px;
        margin-right:40px ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 10;
        order: -1;
    }
    .hb:hover{
        cursor: pointer;
    }

    .hb span {
        display: block;
        width: 34px;
        height: 3px;
        border-radius: 3px;
        margin: 8px auto 0;
        background-color: #4C4948;
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        opacity: 1;
        margin: auto;
        transform: rotate(0deg);
        transition: transform .3s 0s, top .3s .3s;
    
    }
    .main-nav {
        display: block;
        position: absolute;
        background-color: #ffffffee;
        width: 100%;
        left: -200%;
        top: 100%;
        opacity: 0;
        transition: opacity .7s 0s ,left .7s 0s;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }


    .hb span:nth-child(1) {
        top: 9px;
        transition: transform .3s 0s, top .3s .3s;
    }
    .hb span:nth-child(2) {
        top: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity .6s .3s;
    }
    .hb span:nth-child(3) {
        top: 29px;
        transition: transform .3s 0s, top .3s .3s;
    }
    
    .main-nav li > .sub-menu{
        display: block;
        position: relative;
        color: #ffe1aa;
        background-color: #99999933;
        width: calc(100% - 30px);
    }
    .main-nav a {
        display: block;
    }
    .menu li ul{

        padding-left: 30px;
    }
    #menu-switch:checked + .header .main-nav {
        display: block;
        left: 0;
        opacity: 1;
        transition: opacity .3s  ,left .5s 0s;
    } 
    #menu-switch:checked + .header .hb span:nth-child(1){
        top: 19px;
        transform: rotate(45deg);
        transition: top .3s 0s, transform .3s .3s;
    }
    #menu-switch:checked + .header .hb span:nth-child(2){
        opacity: 0;
        transition: opacity .3s;
    }
    #menu-switch:checked + .header .hb span:nth-child(3){
        top: 19px;
        transform: rotate(-45deg);
        transition: top .3s 0s, transform .3s .3s;
    }
}

@media screen and (min-width:1024px) {

}
@media screen and (min-width:1200px) {
    .slogan{
        padding:0 30px;
        filter:drop-shadow(0px 0px 0px rgba(0,0,0,0));
    }
    .slogan p{
        color:rgb(76, 73,72);
        display: block;
    }
    .slogan .totem{
        display: flex;
        padding: 20px 0;
        filter:drop-shadow(-5px 5px 3px rgba(0,0,0,.5));
    }

    .banner{
        width: 800px;
    }
}
