/* 
z-index規範
背景1-29
內容30以上
hearder1000~

*/
/* swiper修改 */



/* 內頁開始 */





.slogans{
    padding-top: 100px;
    justify-content: space-between;
}
.slogan{
    z-index: 35;
    padding:5px 5em;
    text-align: center;
}

.active{
    transform: translateX(50%);
}

.slogan p{
    font-size: 24pt;
    line-height: 36pt;
    font-weight: bold;
    color:#FAC766;
}
.slogan .totem{
    display: none;
    padding: 20px 0;
    filter:drop-shadow(-5px 5px 3px rgba(0,0,0,.5));
}


/* banner輪播圖 */

.banner{
    width: 90%;
    max-width: 800px;
    justify-content: center;

    z-index: 31;
}

.banner ul.slides{
    position: relative;
    max-width: 768px;
    /* width: 100%; */
    height: 434px;
    list-style: none;
    /* margin: 0; */
    padding: 0;
    background-color: #aaa;
    overflow: hidden;
    border-radius: 5px;
}

.banner li.slide{
    max-width: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s transform ease-in-out;
}

.banner .slide:nth-of-type(1){
    background: url(../pic/banner/banner-1.jpg);
    max-width:800px;
    background-position: right;
    width: 100%;
}
.banner .slide:nth-of-type(2){
    background: url(../pic/banner/banner-2.jpg);
    max-width:800px;
    background-position: center;
    width: 100%;
    left: 100%;
}
.banner .slide:nth-of-type(3){
    background: url(../pic/banner/banner-1.jpg);
    max-width:800px;
    background-position: right;
    width: 100%;
    left: 200%;
}
.banner .slide:nth-of-type(4){
    background: url(../pic/banner/banner-2.jpg);
    max-width:800px;
    background-position: center;
    width: 100%;
    left: 300%;
}

.banner input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;
}

.banner .control-visible{
position: absolute;
width: 100%;
bottom: 12px;
text-align: center;
}

.banner .control-visible label{
display: inline-block;
width: 10px;
height: 10px;
background-color: #00000080;
border-radius: 50%;
margin: 0 3px;
}


.slides input[type="radio"]:nth-of-type(1):checked ~.control-visible label:nth-of-type(1){
    background-color: #FAC766;
}
.slides input[type="radio"]:nth-of-type(2):checked ~.control-visible label:nth-of-type(2){
    background-color: #FAC766;
}
.slides input[type="radio"]:nth-of-type(3):checked ~.control-visible label:nth-of-type(3){
    background-color: #FAC766;
}
.slides input[type="radio"]:nth-of-type(4):checked ~.control-visible label:nth-of-type(4){
    background-color: #FAC766;
}


.slides input[type="radio"]:nth-of-type(1):checked ~ .slide{
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide{
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide{
    transform: translateX(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide{
    transform: translateX(-300%);
}

/* 客製化衣服 */
.clothes{
    z-index: 32;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.clothes-block{
    /* display: flex;
    flex-direction: row-reverse;
    align-items: center; */
    height: 200px;
    align-self: center;
    margin: 40px 0;
    overflow: visible;
    position: relative;
}
.clothes-copywriting{
    width: 100%;
}
.clothes-copywriting h2{
    display: inline;
    margin: 20px 0;
    font-size: 36pt;
    color: #F5F5F5;
    text-decoration:none;
    filter:drop-shadow(-2px 2px 3px #00000050);
}
.clothes-copywriting h2 > img{
    transition: .5s ease;    
}
.clothes-copywriting:hover h2 > img{
    translate: 10px;

    
}

.clothes-copywriting img{
    margin: 0 10px;
    filter:drop-shadow(-2px 2px 3px rgba(0,0,0,.5));
}

.clothes-copywriting-span{
    display: block;
    width: 100%;
    height: 2px;
    /* margin: 20px; */
    background-color: #666464;
}
.clothes-copywriting p{
    margin: 20px 0;
    font-size: 12pt;
    line-height: 20pt;
    text-align: justify;
    color: #D9D9D9;
    filter:drop-shadow(-2px 2px 3px #00000050);
}
.clothes-pic{
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    z-index: 32;
}
.clothes-pic img{
    width: 100%;
    transition: 1.5s ease-in-out; 
}

.clothes-pic img:hover{
    transform:scale(1.2);
}

/* 實做案例 */


.clothes-wrap{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    z-index: 50;
}
.clothes-wrap .swiper {
    width: calc( 770px + 50vw - 617px - 14px);
    width: calc(100vw);
    height: 200px;
    right: 0px;
    position: absolute;
    overflow: hidden;

}
.clothes-swiper-wrapper{
    width:1980px;
    display: flex;
    right: -10px;
    flex-direction: row-reverse;
    position: absolute;
    transition: transform .7s;
    transform: translate(0px);
}

.swiper-slide {
    width: 200px;
    margin: 0 10px;

}
.swiper-slide img {
    background-color: #eee;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more{
    position: absolute;
    bottom: 3px;
    right:6px;

    z-index: 30;
}
.more img{
    width: 20px;
}


/* 客製化紙袋 */
.bag{
    box-sizing: border-box;
    z-index: 32;
}
.bag .row{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
.bag-block{
    height: 200px;
    align-self: center;
    margin: 40px 0;
    overflow: visible;

}

.bag-copywriting h2{
    display: inline;
    margin: 20px 0;
    font-size: 36pt;
    line-height: 1.5;
    color: #4C4948;
    text-decoration:none;

}
.bag-copywriting h2 > img{
    transition: .5s ease;    
}
.bag-copywriting:hover h2 > img{
    translate: 10px;

    
}

.bag-copywriting img{
    margin: 0 10px;
    filter:drop-shadow(-2px 2px 3px rgba(0,0,0,.5));
}

.bag-copywriting-span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #666464;
}
.bag-copywriting p{
    margin: 20px 0;
    font-size: 12pt;
    line-height: 20pt;
    text-align: justify;
    color: #666464;

}
.bags-pic{
    z-index: 32;
    
}
.bags-pic img{
    width: 100%;
    transition: 1.5s ease-in-out; 
}

.bags-pic img:hover{
    transform:scale(1.2);
}

/* 紙袋實做案例 */
.bags-wrap{
    width: 100%;
    height:100%;
    font-size: 14px;
    color: #000;    
    display: flex;
    padding: 0;
    
    z-index: 50;
}


.bags-wrap .swiper{
    width: calc( 770px + 50vw - 617px - 14px);
    height: 200px;
    /* left: 20px; */
    position: absolute;
    overflow: hidden;

}
.bags-wrap .bags-swiper-wrapper{
    width:1980px;
    display: flex;
    left: -10px;
    flex-direction: row;
    position: absolute;
    transition: transform .7s;
    transform: translateX(0px);

}

.bags-wrap .swiper-slide {
    width: 200px;
    margin: 0 10px;
    
    /* transform: translateX(-220px); */
}
.bags-wrap .swiper-slide img {
    background-color: #eee;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bags-wrap .more{
    left:6px;
}

/* 模糊的概念 */

.guideSlogan-boundary{
    width: 100%;
    text-align: center;
}


.guideSlogan1{
    margin-top: 400px;
    margin-bottom: 50px;
    justify-content: center;
    position: relative;
    z-index: 40;
}

.guideSlogan1::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(15deg, #E2AD49 0%, #FAC766 100%);
    transform: skewY(15deg);
    transform-origin:center;
 
    z-index: 5;
 
 }
.guideSlogan1 p{
    display: inline-block;
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: #666464;
    position: relative;
    /* overflow: hidden; */
    z-index: 35;
    box-sizing: border-box;
}

.guideSlogan1 p span{
    filter: blur(2px);
    transition: 0.5s;
}
.guideSlogan1 p span:hover{
    filter: blur(0px);
}


.guideSlogan-bc .container .row{
    display: block;
    margin: 350px auto 350px 50px;
    /* margin-bottom: 200px; */
    position: relative;
    z-index: auto;
}
.guideSlogan-bc .container{
    scroll-behavior: smooth;
}

.guideSlogan-bc{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    background:no-repeat url(../pic/back-img/back-img02.jpg) ;
    background-position: bottom left;
}
#guideSlogan2 p,.guideSlogan3 p{
    
    line-height: 1.7em;
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    color: #4C4948;
    filter:drop-shadow(0px 0px 3px rgba(255,255,255,.5));
    position: relative;
    /* overflow: hidden; */
    z-index: 35;
    box-sizing: border-box;
    
}
#guideSlogan2 p + p{
    text-indent: 1.5em;
}
#guideSlogan2 p span{
    background: linear-gradient(180deg,transparent 75%,#fdda5a 0);  
}



.guideSlogan3{

    margin-top: 350px;
    margin-bottom: 100px;
}


.guideSlogan{
    z-index: 50;
}


@media screen and (max-width:767.98px) {
    .slogans{justify-content: center;}
    .slogan{text-align: center;}

    .bags-wrap .swiper{width: calc(100% - 16px);}
    .clothes-pic{
        display: none;
    }
    .bag-copywriting h2,.clothes-copywriting h2{
        font-size: 28px;
        transition: 1s;
    }
    .bag-copywriting h2 img,.clothes-copywriting img{
        width: 22px;
        transition: .7s;
    }
    .container.bag{
        margin-top: 200px;
    }
    .round{right: 70%;}
}

@media screen and (min-width:768px) {
    .slogans{justify-content: center;}

    .slogan{
        /* display: inline-block; */
        text-align: center;
        filter:drop-shadow(-5px 5px 3px rgba(0,0,0,.5));
    }
    p.slogan{
        display: inline-block;
        color: #FAC766;

    }
    .bags-wrap .swiper{width: calc(100% - 17px);}

    .md-position-r{position: relative;}
    
    .clothes-pic{
        display: none;
    }

    .bag-copywriting h2,.clothes-copywriting h2{
        font-size: 36px;
        transition: .7s;
    }
    .bag-copywriting h2 img,.clothes-copywriting img{
        width: 24px;
        transition: .7s;
    }


    .container.bag{
        margin-top: 200px;
    }
    .guideSlogan1{
        margin-top: 550px;
    }
}

@media screen and (min-width:1024px) {
    .slogan .totem{
        
        padding: 20px 0;
        filter:drop-shadow(-5px 5px 3px rgba(0,0,0,.5));
    }

    .bag-copywriting h2,.clothes-copywriting h2{
        font-size: 36pt;
        transition: .7s;
    }
    .bag-copywriting h2 img,.clothes-copywriting img{
        width: 33px;
        transition: .7s;
    }
}

@media screen and (min-width:1200px) {
    .slogan{
        padding:0 30px;
        filter:drop-shadow(0px 0px 0px rgba(0,0,0,0));
    }
    .slogan p{
        color:rgb(76, 73,72);
        display: block;
    }
    .slogan .totem{
        display: flex;
        padding: 20px 0;
        filter:drop-shadow(-5px 5px 3px rgba(0,0,0,.5));
    }

    .bags-wrap .swiper{width: calc( 780px + 50vw - 600px );}
    .clothes-wrap .swiper{width: calc( 780px + 50vw - 600px );}

    .md-position-r{position: static;}

    .clothes-pic{
        display: flex;
    }
    .container.bag{
        margin-top: 100px;
    }

    .guideSlogan1{
        margin-top: 300px;
    }
}

