.clothing_case{
    padding-top: 100px;
    position: relative;
    z-index: 50;
}

.clothing-case h2{
    margin: 20px 0;
   
    font-size: 30px;
    color: #D9D9D9;
}

.pic img{
    width: 100%;
}
.clothing_emulator .row{
    justify-content: center;
    position: relative;
    z-index: 50;
}

.clothing_emulator-present,
.clothing_emulator-control{
    width: 100%;
    /* height: 558px; */
    padding: 20px;
    padding-top: 30px;
    border-radius: 28px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B0B0B0;
    position: relative;
    
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,.3));
}


.clothing_emulator-present h2{
    width: calc(100% + 40px);
    top: 15px;
    left: -25px;
    margin-top:15px ;
    padding: 15px 25px;
    background-color: #4C4948;
    color: #FAC766;
    display: block;
    position: absolute;

    filter: drop-shadow(0px 4px 7px rgba(0,0,0,.3));
    z-index: 1;
}

.clothing_emulator-present::after{
    content: "";
    top: 23px;
    left: -25px;
    position: absolute;

    width: 26px;
    height: 78px;
    position: absolute;
    transform:translateX(0%) translateY(25%) skewY(45deg);
    background: #666464;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,.3));
}

.clothing_emulator-present{
    padding: 94px 0 0 0;
}
.clothing_emulator-present img{
    width: 100%;
    border-radius: 0px 0px 28px 28px;
    
}

.clothing_emulator-background{
    
    vertical-align: middle;
    /* background: url(./pic/clothing_emulator/clothing_emulator-background.jpg); */
    
    border-radius:0 0 28px 28px;
}

.clothing_emulator-control{
    z-index: 2;
    
}
.clothing_emulator-control p{
    font-size: 18px;
}
.clothing_emulator-control img{
    display: flex;

 

}
.caption{
    margin: 10px 0px;
}

.button p{
    padding: 2px;
    font-size: 24px;
}
.button p + p{
    padding: 2px;
    font-size: 14px;
}
.caption p:first-child{
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
}

/* 控制器 */


.pic_location button,
.B-pic_location button{
    background: url("./pic/icon/upload.svg")no-repeat , #4C4948;
    background-position: center ;
    border: none;
    padding: 1.5rem 2rem  ;
    margin: 10px 0px;

    border-radius: 4px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}






input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;

    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:#B0B0B0 -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    border: 2px solid #FFB800;
}


input[type="range"]{
    -webkit-appearance: none;
    /* overflow:hidden;     限定範圍 */
    width:200px;
    height:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:#C4C4C4;
    border-radius:10px;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
    width:20px;
    height:20px;
    background:#FAC766;
    border-radius:50%;
    transition:.2s;        /* 點選放大時候的漸變時間 */
  }

.pic_size{
    position: relative;
}


.clothing_emulator-caption{
    text-align: justify;
    padding: 20px 0px;
    justify-content: center;
    color: #666464;
    
}
.clothing_emulator-caption h2{
    font-size: 30pt;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}
.clothing_emulator-caption .caption p{

    font-size: 12pt;
}
.clothing_emulator-caption .caption .form-check input p{
    display: inline-block;
    text-align: left;
    font-size: 10pt;

}

.button{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.clothing_emulator-caption button p{
    padding: right 5px; ;
}
.clothing_emulator-caption button{
    background:  #4C4948;
    border: none;
    color: #FAC766;
    padding: 1rem 2rem  ;
    margin: 10px 0px;

    border-radius: 4px;
    
    display: flex;
    vertical-align: bottom;
    font-size: 16px;

}



.form-check{
    display: flex;
}


.Inquiry{
    position: relative;
    margin-top: 450px;
    margin-bottom: 350px;
    color: #fff;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,.3));
    
    z-index: 50;
}

.Inquiry h2{
    text-align: center;
    margin-bottom: 100px;
}

/* display: flex; */


.choose{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.choose svg{
    padding-left: 3 0px;
}

.choose p{
    padding: 0 20px;
    font-size: 20pt;
}

.inquiry-button::after{
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
   
    width: 100%;
    background-color: #fff;
}

.inquiry-button{
    padding: 30px;
} 
.inquiry-button button{
    background:  #4C4948;
    border: none;
    color: #FAC766;
    padding: 1rem 2rem  ;
    margin: 10px 0px;

    border-radius: 4px;
    vertical-align: auto;
    display: flex;

    font-size: 24px;
    font-weight: 600;
}

.inquiry-slogan {
    width: 60%;
    margin-top: 50px;
    margin-bottom: -250px;
    margin-left:20% ;
    margin-right:60% ;
    font-size: 30px;
}
.inquiry-slogan p{
    padding: 20px 0;
    color: #4C4948;
    font-weight: 600;
    line-height: 1.5;
}